*, *:before, *:after {
    box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;
}
.header-menu {
  text-align: center;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0000;
  transition: color 0.3s;
  padding: 25.5px 36px;
}
.menu a:hover {
  color: #1b00ff;
}
.banner {
    margin-bottom: 49px;
}
.banner img {
  width: 100%;
  max-height: 789px;
  object-fit: cover;
}
.container {
    max-width: 1175px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-align: center;
  text-transform: uppercase;
  color: #373737;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}
.button {
display: block;
margin: 0 auto;
width: 191px;
height: 51px;
background: #ff0000;
border-radius: 4px;
}
.content a {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 18px 43px;
    color: #FFFFFF;

}
.container a:hover {
    color: #1b00ff;
  }
  .footer {
  width: 1070px;
  height: 39;
  margin: 29px 105px;
  padding-left: 608px;
  }
  .footer-copyright {
   width: 462px;
   height: 39px;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   align-items: center;
   letter-spacing: 2.4px;
   white-space: nowrap;
   color: #373737;
   
  }